.DS_Store

node_modules
dist

.yarn/*
**/.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package-lock.json

**/*.tsbuildinfo

website/build
website/.docusaurus
website/.cache-loader

.eslintcache

packages/jest-docusaurus/config.js
packages/jest-docusaurus/config.d.ts
packages/jest-docusaurus/plugin.js
packages/jest-docusaurus/plugin.d.ts
packages/jest-docusaurus/react.js
packages/jest-docusaurus/react.d.ts
packages/jest-docusaurus/matchers
